## encoding: utf-8

<%inherit file="brave.core.template.master"/>

<%block name="title">${account.username | h} — View Account</%block>

<%block name="header">
    ${parent.header()}

    <script src="/js/vendor/less-1.4.0-beta.min.js?${account.id | u}"></script>
    
    <style>
        .user-profile .header span.area { color: #7d848c; font-style: italic; font-size: 14px; }
        .user-profile .header .avatar { width: 96px; height: 96px; float: left; margin-right: 25px; border: 2px solid #e9ecee; position: relative; top: 3px; border-radius: 12px; }
        .user-profile .header .name { font-weight: 600; margin: 0 0 10px; line-height: 26px; float: none; padding-top: 12px; }
        .user-profile .header .area span { margin: 0 5px; }
        #pad-wrapper.user-profile h4 { margin: 0 0 10px; font-weight: 600; font-size: 14px; font-style: normal; text-indent: 0; color: black; }
        .user-profile .profile .bio p { 
    </style>
</%block>

<%block name="post">
    ${parent.post()}
    <%include file="brave.core.character.template.charScripts"/>
</%block>

<div class="container-fluid">
    <div id="pad-wrapper" class="user-profile">
    % if account.primary:
        <div class="header">
            <img src="//image.eveonline.com/Character/${account.primary.identifier}_128.jpg" class="avatar">
            
            <h3 class="name">${account | h}</h3>
            <div class="area">
                Primary character: <a href="/character/${account.primary.id}">${account.primary.name | h}</a>
            </div>
            <span class="area">
                ${", ".join(account.primary.titles) | h}
            </span>
            <div class="area">
                <a target="_blank" href="https://gate.eveonline.com/Corporation/${account.primary.corporation.name | u}">${account.primary.corporation.name | h}</a>
                % if account.primary.alliance:
                    <span>›</span> <a target="_blank" href="https://gate.eveonline.com/Alliance/${account.primary.alliance.name | u}">${account.primary.alliance.name | h}</a>
                % endif
            </div>
        </div>
    % else:
        <div class="header">
            <h3 class="name">${account | h}</h3>
            <div class="area">
            </div>
        </div>
    % endif
    
        <div class="row-fluid profile">
            <div class="span9 bio" style="box-shadow: 4px 0px 3px -1px rgba(226,226,226,0.1); border-right: 1px solid #edeef1">
                <div class="profile-box" style="padding-right: 25px;">
                    <h4>Welcome</h4>
                    <p>
                        Welcome to the Brave Collective Core service.  This site provides a way for you to securely provide EVE API keys and manage the applications you can use Core to authenticate.
                    </p>
                    <p>
                        Use the <em>Authorized Applications</em> links on the right-hand side to quickly jump to the application of your choice.
                    </p>
                    <p>
                        The listing of <em>Authentication Attempts</em> below will list all successful and unsuccessful attempts made to log into your account.  If you notice suspicious activity please contact the IT Team by joining the chat channel "Brave IT Team" in game.
                    </p>

                    <hr>
                    % if not account.primary:
                        % if not account.credentials:
                            <h3>
                                You need to add an API key in order to use Core services.
                                Please visit <a href="/key/">API Keys</a> to add one.
                            </h3>
                        % else:
                            <h3>
                                You need to set your primary character in order to use Core services.
                                You can do so in the table below.
                            </h3>
                        <hr>
                        % endif
                    % endif

                    <h4>EVE Online Characters</h4>
                    <%include file="brave.core.character.template.charTable" args="records=account.characters, admin=False"/>
    
                    <h4>${_("EVE Online API Keys")}</h4>
                    <%include file="brave.core.key.template.keyTable" args="records=account.credentials, admin=False"/>

                    <%include file="brave.core.character.template.authAttempts" args="attempts=account.attempts"/>
                </div>
            </div>
    
            <!-- side address column -->
            <div class="span3 pull-right">
                <h4>Authorized Applications</h4>
                <ul>
                    % for grant in account.grants:
                    <li><a target="_blank" href="${grant.application.site | u}" title="${grant.application.description | u}">${grant.application.name | h}</a></li>
                    % endfor
                </ul>
            
                <hr>
                % if account.primary:
                <h4>Group Membership</h4>
                <ul>
                    % for id, group in account.primary.tags.iteritems():
                    <li>${group.title | h}</li>
                    % endfor
                </ul>
                % endif
                % if web.user.admin:
                <hr>
                % if len(account.other_accs_char_key) or len(account.other_accs_IP):
                <h4>Duplicate Accounts</h4>
                <ul>
                    <% other_accs = set(account.other_accs_char_key + account.other_accs_IP) %>
                    % for other_user in other_accs:
                    <%
                    method = ""
                    if other_user in account.other_accs_char_key:
                        method += "(char) "
                    if other_user in account.other_accs_IP:
                        method += "(IP) " 
                    %>
                    <li><a href="/account/${other_user.id}">${other_user | h}</a> ${method}</li>
                    % endfor
                 </ul>
                % endif
                % endif
            </div>
        </div>
        
            </div>
        </div>
        
    </div>
</div>
