## encoding: utf-8

<%inherit file="brave.core.template.light"/>

<%block name="title">${_("Sign In")}</%block>

<%block name="header">
    ${parent.header()}

    <style>
        input[type=submit] { float: right; border: 0 none; height: 0; width: 0; padding: 0; margin: 0; overflow: hidden; }
        .content-wrap.authentication { position: relative; }
        .overlay { position: absolute; top: 15px; left: 0; right: 0; text-align: center; display: none; }
        .overlay.result { text-shadow: 0 1px 4px rgba(0,0,0,0.75); }
        .overlay.fail { color: #b00; }
        .overlay.success { color: #0b0; }
    </style>
</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function(){
            function process_signin() {
                if ( ! $('#password-field').val() ) {
                    $('#password-field').focus();
                    return false;
                }

                var form = $('#authenticate-form')

                // Ensure the input fields are not focused.
                $('input', form).blur();

                // Fade to the progress spinner.
                $('#authenticate-form, .authentication .span6').animate({opacity: 0.25}, 250);
                $('#submit').addClass('disabled').attr('disabled', true);
                $('.overlay.wait').fadeIn(250);

                // Submit XHR request.
                var receipt = $.post(form.attr('action'), form.serialize());
                receipt.fail(function(jqXHR, textStatus, errorThrown){
                    // Something went wrong.
                    console.log(jqXHR, textStatus, errorThrown);
                }).done(function(data, textStatus, jqXHR){
                    // Determine if we were successful or not and fade the appropriate icon.
                    $('.overlay.wait').fadeOut(125, function(){
                        if ( data.success ) {
                            $('.overlay.success').fadeIn(250, function(){ window.location = data.location; });
                        } else {
                            $('.overlay.fail').fadeIn(250, function(){
                                $('.overlay.fail').fadeOut(250);
                                $('#authenticate-form, .authentication .span6').animate({opacity: 1}, 250);
                                $('#submit').removeClass('disabled').attr('disabled', false);
                            });
                        }
                    });
                });

                return false;
            }

            $('#submit').click(process_signin);
            $('#authenticate-form').submit(process_signin);
        });
    </script>
</%block>

% if 'EVE-IGB' in web.request.headers.get('User-Agent'):
    Brave IT Services no longer supports the EVE In Game Browser due to security issues. Please use an out of game browser.
% else:

<div class="span4 box">
    <div class="content-wrap authentication">
        <h6>${_("Authentication")}</h6>

        ${form}

        <div class="overlay fa-4x wait"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
        <div class="overlay fa-4x result fail"><i class="fa fa-times fa-4x"></i></div>
        <div class="overlay fa-4x result success"><i class="fa fa-check fa-4x"></i></div>

        <div class="span6" style="margin: 0; text-align: left;">
            <a href="/account/recover">${_("Password Recovery")}</a><br><a href="/account/register">${_("Create Account")}</a>
        </div>
        <div class="span6" style="text-align: right;">
            <button class="btn-glow primary" id="submit">${_("Sign In")}</button>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
% endif
