https://github.com/marrow/marrow.tags/archive/develop.zip#egg=marrow.tags
https://github.com/jboning/templating/archive/fix-setup.zip#egg=marrow.templating
https://github.com/marrow/WebCore/archive/develop.zip#egg=WebCore
https://github.com/bravecollective/api/archive/develop.zip#egg=braveapi
