https://github.com/marrow/marrow.tags/archive/develop.zip#egg=marrow.tags
https://github.com/jboning/templating/archive/fix-setup.zip#egg=marrow.templating
WebCore>=1.1.2,<2.0.0
https://github.com/bravecollective/api/archive/develop.zip#egg=braveapi
