## encoding: utf-8

<%!
from brave.core.group.model import Group
from brave.core.group.acl import ACLList, ACLKey, ACLTitle, ACLRole, ACLMask, ACLVerySecure, ACLGroupMembership

def selected(bool):
    return "selected" if bool else ""
%>

<%inherit file="brave.core.template.master"/>

<%block name="title">${group.id | h} - ${group.title | h}</%block>

<%def name="aclrule(rule, group)">
    % if isinstance(rule, ACLList):
        ${acllist(rule, group)}
    % elif isinstance(rule, ACLKey):
        ${aclkey(rule)}
    % elif isinstance(rule, ACLTitle):
        ${acltitle(rule)}
    % elif isinstance(rule, ACLRole):
        ${aclrole(rule)}
    % elif isinstance(rule, ACLMask):
        ${aclmask(rule)}
    % elif isinstance(rule, ACLVerySecure):
        ${aclverysecure(rule)}
    % elif isinstance(rule, ACLGroupMembership):
        ${aclgroupmembership(rule)}
    % else:
        ERROR THIS WON'T WORK: ${rule | h}
    % endif
</%def>

<%def name="select_grant(rule)">
    <select name="grant">
        <option value="true" ${selected(rule.grant)}>Grant</option>
        <option value="false" ${selected(not rule.grant)}>Deny</option>
    </select>
</%def>

<%def name="acllist(rule, group)">
    <div class="acllist acl_def" data-kind="${rule.kind}">
        <input type="hidden" name="type" value="list" />
        <input type="hidden" name="kind" value="${rule.kind}" />
        ${select_grant(rule)}
        if character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>is</option>
            <option value="true" ${selected(rule.inverse)}>is not</option>
        </select>
        % if rule.kind == "c":
            one of these characters:
        % elif rule.kind == "o":
            in one of these corporations:
        % else:
            in one of these alliances:
        % endif

        ${stringlistinput("names", list(sorted(rule.target_objects(), key=lambda x: x.name.lower())), rule.kind, group)}
    </div>
</%def>

<%def name="aclkey(rule)">
    <div class="aclkey acl_def">
        <input type="hidden" name="type" value="key" />
        ${select_grant(rule)}
        if we
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>have</option>
            <option value="true" ${selected(rule.inverse)}>don't have</option>
        </select>
        a(n)
        <select name="kind">
            <option value="Account" ${selected(rule.kind == "Account")}>account</option>
            <option value="Character" ${selected(rule.kind == "Character")}>character</option>
            <option value="Corporation" ${selected(rule.kind == "Corporation")}>corporation (wtf?)</option>
        </select>
        key for this character
    </div>
</%def>

<%def name="acltitle(rule)">
    <div class="acltitle acl_def">
        <input type="hidden" name="type" value="title" />
        ${select_grant(rule)}
        if character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>has any</option>
            <option value="true" ${selected(rule.inverse)}>has none</option>
        </select>
        of these titles:
        ${stringlistinput("titles", rule.titles, None, None)}
    </div>
</%def>

<%def name="aclrole(rule)">
    <div class="aclrole acl_def">
        <input type="hidden" name="type" value="role" />
        ${select_grant(rule)}
        if character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>has any</option>
            <option value="true" ${selected(rule.inverse)}>has none</option>
        </select>
        of these roles:
        ${stringlistinput("roles", rule.roles, None, None)}
    </div>
</%def>

<%def name="aclmask(rule)">
    <div class="aclmask acl_def">
        <input type="hidden" name="type" value="mask" />
        ${select_grant(rule)}
        if we
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>have</option>
            <option value="true" ${selected(rule.inverse)}>don't have</option>
        </select>
        a key for this character supporting permissions:
        <div style="margin: 7px 3px 2px 3px;">
            <input type="text" name="mask" value="${rule.mask}" />
        </div>
    </div>
</%def>

<%def name="aclverysecure(rule)">
    <div class="aclverysecure acl_def">
        <input type="hidden" name="type" value="verysecure" />
        ${select_grant(rule)}
        if this user can
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>can only log in with</option>
            <option value="true" ${selected(rule.inverse)}>can log in without</option>
        </select>
        OTP.
    </div>
</%def>

<%def name="aclgroupmembership(rule)">
    <div class="aclgroupmembership acl_def">
        <input type="hidden" name="type" value="groupmembership" />
        ${select_grant(rule)}
        if the user/character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>is</option>
            <option value="true" ${selected(rule.inverse)}>isn't</option>
        </select>
        a member of the group
        <div style="margin: 7px 3px 2px 3px;">
            <input type="text" name="group" value="${rule.group.id}" />
        </div>
    </div>
</%def>

<%def name="rule_row(rule, group)">
    <tr>
        <td class="handle" style="width: 35px;"><i class="fa fa-arrows-v rowdraghandle" style="padding: 19px 12px 18px 14px; font-size: 20px;"></i></td>
        <td class="rule">${aclrule(rule, group) if rule else ""}</td>
        <td style="text-align: center; width: 55px;">
            <button class="btn btn-small btn-danger deleterule" title="${_('Remove rule')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></button>
        </td>
    </tr>
</%def>

<%def name="stringlistinput(input_name, list, type, group)">
    <div class="stringlistinput" data-input-name="${input_name}">
        <ul class="inline">
            % for item in list:

                <%
                    style=""
                    if type == "c":

                        in_group = group.id in item.tags
                        if in_group:
                            style=""
                        else:
                            style="color:#DB8C00"
                %>

                <li>
                    <%
                        if type == "c":
                            image_url = "https://image.eveonline.com/Character/%d_32.jpg" % item.identifier
                            text = unicode(item)
                            if item.corporation:
                                text += " [%s]" % item.corporation.short
                            if item.alliance:
                                text += " <%s>" % item.alliance.short
                        elif type == "o":
                            image_url = "https://image.eveonline.com/Corporation/%d_32.png" % item.identifier
                            text = "%s [%s]" % (unicode(item), item.short)
                            if item.alliance:
                                text += " <%s>" % item.alliance.short
                        elif type == "a":
                            image_url = "https://image.eveonline.com/Alliance/%d_32.png" % item.identifier
                            text = "%s <%s>" % (unicode(item), item.short)
                        else:
                            image_url = None
                            text = item
                    %>
                    % if image_url:
                    <img src="${image_url}" style="width: 20px; height: 20px; border-radius: 4px; margin-top: -5px;" alt="" />
                    % endif
                    <span onclick="$(this).selectText();" style="${style}">${text | h}</span>
                    <input type="hidden" name="${input_name}" value="${item | h}" />
                    <i class="remove fa fa-times"></i>
                </li>

            % endfor
            <li>
                <div class="input-append">
                    <input type="text"/>
                    <button class="btn btn-info add">Add</button>
                </div>
            </li>
        </ul>
    </div>
</%def>

<div class="container-fluid">

    <div id="tabs-wrapper">
        <div class="row-fluid">
            <a class="span3 tab${' active' if not rule_set else ''}" href="/group/${group.id}/">
                ${_("Main")}
            </a>
            <a class="span3 tab${' active' if rule_set=='join' else ''}" href="/group/${group.id}/?rule_set=join">
                ${_("Joining")}
            </a>
            <a class="span3 tab${' active' if rule_set=='request' else ''}" href="/group/${group.id}/?rule_set=request">
                ${_("Requests")}
            </a>
        </div>
    </div>

    <div id="pad-wrapper">
        <div class="row-fluid header">
            <div class="pull-right">
                % if web.user.has_permission(group.edit_id_perm):
                <div class="input-append">
                         <input class="id" id="set_id" type="text" placeholder="New Group ID" class="span2"/>
                         <button class="btn btn-success setID" type="button">Edit ID</button>
                </div>
                % endif
                % if web.user.has_permission(group.edit_title_perm):
                <div class="input-append">
                         <input class="title" id="set_title" type="text" placeholder="New Group Title" class="span2"/>
                         <button class="btn btn-success setTitle" type="button">Edit Title</button>
                </div>
                % endif
            </div>
            <h3 onclick="$(this).selectText();" style="font-weight: bold; margin-bottom:20px">${group.id | h}</h3>
            <div class="well well-small">${group.title | h}</div>

        </div>
        % if web.user.has_permission(group.edit_acl_perm):
        <div class="row-fluid table" style="margin: 0;">
            <h3 style="margin: 0 0 20px 0;">
                <div class="btn-group pull-right">
                  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    Add New ACL Rule
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="addrule" data-rule="list" data-kind="c">By Character Name</a></li>
                    <li><a href="#" class="addrule" data-rule="list" data-kind="o">By Corporation Name</a></li>
                    <li><a href="#" class="addrule" data-rule="list" data-kind="a">By Alliance Name</a></li>
                    <li><a href="#" class="addrule" data-rule="title">By Corporate Title</a></li>
                    <li><a href="#" class="addrule" data-rule="role">By Corporate Role</a></li>
                    <li><a href="#" class="addrule" data-rule="key">By Key Type</a></li>
                    <li><a href="#" class="addrule" data-rule="mask">By Key Mask</a></li>
                    <li><a href="#" class="addrule" data-rule="verysecure">By OTP Setting</a></li>
                    <li><a href="#" class="addrule" data-rule="groupmembership">By Group Membership</a></li>
                  </ul>
                </div>

                Group ACL Rules
            </h3>

            <table id="acl-rules" data-action="/group/${group.id}/set_rules" class="table table-condensed table-bordered" style="min-height: 70px; border-left: 1px solid #dddddd;border-collapse: collapse;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;">
                <tbody class="sortable">
                <%
                    if rule_set == 'join':
                        rules = group.join_rules
                    elif rule_set == 'request':
                        rules = group.request_rules
                    else:
                        rules = group.rules

                    for rule in rules:
                        print rule_row(rule, group)
                %>
                </tbody>
            </table>
        </div>

        <div>
            <button id="submit" class="btn btn-success">Save ACL Rules</button>
        </div>

        % endif

        <div style="margin-top:40px"></div>

        % if web.user.has_permission(group.edit_perms_perm) and not rule_set:
            <div class="row-fluid table">
                <h3>
                    <div class="pull-right">
                        <div class="input-append">
                          <input class="permission" id="permission" type="text" placeholder="New Permission Name" class="span2"/>
                          <button class="btn btn-success submitPerm" type="button">Add</button>
                        </div>
                    </div>
                    Group Permissions
                </h3>

                <table id="perms" class="table table-condensed table-striped ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th style="width: 49px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        % for perm in sorted(group._permissions, key=lambda p: p.id):
                            <tr id="${perm.id}">
                                <td><span onclick="$(this).selectText()">${perm.id | h}</span></td>
                                <td>${perm.description | h}</td>
                                <td style="text-align: center;">
                                    <a class="btn btn-danger btn-small deletePerm" href="#" title="${_('Revoke Permission')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif

        % if rule_set == 'request':
            <div class="row-fluid table">
                <h3 style="margin-bottom: 20px;">
                    Pending Membership Requests
                </h3>

                <table id="perms" class="table table-condensed table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 69px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        % for char in group.requests:
                            <tr name="${char.name}">
                                <td><span onclick="$(this).selectText()">${char.name | h}</span></td>
                                <td style="text-align: center;">
                                    <a class="btn btn-success btn-small acceptRequest" href="#" title="${_('Approve Request')}" rel="tooltip" data-placement="bottom"><i class="fa fa-check"></i></a>
                                    <a class="btn btn-danger btn-small denyRequest" href="#" title="${_('Deny Request')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif

        % if rule_set:
            <%
                lang = ''
                if rule_set == 'join':
                    lang = 'Joined'
                else:
                    lang = 'Requested'
            %>
            <div class="row-fluid table">
                <h3 style="margin-bottom: 20px;">
                    Current Members That Have <span style="font-weight: bold">${lang | h}</span> This Group
                </h3>

                <table id="perms" class="table table-condensed table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 49px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        % for char in getattr(group, rule_set + "_members"):
                            <tr name="${char.name}">
                                <td><span onclick="$(this).selectText()">${char.name | h}</span></td>
                                <td style="text-align: center;">
                                    <a class="btn btn-danger btn-small kickMember" href="#" title="${_('Remove From Group')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif

    </div>
</div>

<table style="display: none" id="row-template-container">
    ${rule_row(None, None)}
</table>
<div style="display: none" id="acl-templates">
    ${aclrule(ACLList(grant=True, kind='c', ids=[]), group)}
    ${aclrule(ACLList(grant=True, kind='o', ids=[]), group)}
    ${aclrule(ACLList(grant=True, kind='a', ids=[]), group)}
    ${aclrule(ACLKey(grant=True, kind='Account'), None)}
    ${aclrule(ACLTitle(grant=True, titles=[]), None)}
    ${aclrule(ACLRole(grant=True, roles=[]), None)}
    ${aclrule(ACLMask(grant=True, mask=0), None)}
    ${aclrule(ACLVerySecure(grant=True), None)}
    ${aclrule(ACLGroupMembership(grant=True, group=Group(id='')), None)}
</div>

<%block name="pre">
    ${parent.pre()}

    <style type="text/css">
        .stringlistinput .remove {
            cursor: pointer;
            padding: 2px 3px;
        }

        .stringlistinput .remove:hover {
            color: #CE0000;
        }

        .handle {
            cursor: move;
            line-height: 200%;
        }

        .handle:hover .rowdraghandle{
            color: #5298E4;
        }

        .handle:active .rowdraghandle{
            color: #C51E1E;
        }

        .header{
            margin-bottom: 20px;
        }

        #acl-rules select {
            border: none;
            outline: none;
            display: inline-block;
            cursor: pointer;
            height: 22px;
            line-height: 22px;
            margin-top: -4px;
            font-weight: bold;;
            padding: 0;
            width: auto;
            font-size: 15px;

            border-bottom: 1px solid;
            border-radius: 0;
        }

        table#acl-rules:empty::before {
            content: "No Rules Exist Yet, Add Some!";
            font-style: italic;
        }

        table#acl-rules:empty {
            min-height: 0 !important;
            border: none !important;
        }

        #acl-rules input {
            margin-bottom: 0;
        }

        .stringlistinput li{
            margin: 2px 0;
            float: left;
            display: block;
        }
        .stringlistinput li:not(:last-child) {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 4px 3px 4px 6px;
            margin: 2px 3px;
        }

        .stringlistinput li .input-append {
            margin-bottom: 0;
        }
        .stringlistinput li .add-on {
            height: auto;
        }

        .aclmask input[type=text] {
            width: auto;
        }

        .stringlistinput input.error[type=text] {
            border: 1px solid red;
        }

        .acl_def{
            font-size: 15px;
            line-height: 24px;
        }

        ul.inline{
            margin:0;
            margin-top:5px;
        }

        .ui-sortable-placeholder{
            background: #EBEBEB;
            height:70px;
        }

        .ui-sortable-helper{
            background: #f5f5f5;
            border: 1px solid #ddd;
        }

        .ui-state-highlight{
            background: #EBEBEB;
            height:70px;
            border: none;
        }

    </style>
</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function() {
            $(".sortable").sortable({
                handle: ".handle",
                containment: "parent",
                cursor: "move",
                distance: 3,
                placeholder: "ui-state-highlight",
                update: function(event, ui) {
                    ui.item.parent().children().removeClass("first").filter(":first-child").addClass("first");
                }
            });

            function get_rule_data() {
                var a = [];
                $("#acl-rules > tbody > tr").each(function() {
                    a.push($(this).find(":input").serializeAssoc());
                });
                return a;
            }

            $("#submit").click(function() {
                console.log(JSON.stringify(get_rule_data()));
                $.post($("#acl-rules").data("action"), {
                    rules: JSON.stringify(get_rule_data())
                }, function(data) {
                    if (!data.success) {
                        alert(data.message);
                        return;
                    }
                    var confirm_text = "Here's what the server heard. Check to make sure everything looks right!<pre>" + data.message + "</pre>";
                    confirm("confirm", confirm_text, "okay", function() {
                        $.post($("#acl-rules").data("action"), {
                            rules: JSON.stringify(get_rule_data()),
                            really: "really",
                            rule_set: "${rule_set}"
                        }).fail(function(data) {
                            alert("something went wrong!");
                        });
                    });
                }).fail(function(data) {
                    alert("something went wrong!");
                });
            });

            $(".addrule").click(function() {
                var template_selector = ".acl"+$(this).data("rule");
                var kind = $(this).data("kind");
                if (kind) {
                    template_selector += "[data-kind="+kind+"]";
                }
                var editor = $("#acl-templates").find(template_selector).clone(true);
                var row = $("#row-template-container tr").clone().removeClass("first");
                row.find(".rule").append(editor);
                $("#acl-rules").append(row);
            });

            $("body").on("click", ".deleterule", function() {
                $(this).closest("tr").remove();
            });

            $("body").on("click", ".stringlistinput .remove", function() {
                $(this).closest("li").remove();
            });

            // TODO: Merge the following two events

            $("body").on("click", ".stringlistinput .add", function()
            {
                var $ul = $(this).closest('ul');
                var $text_input = $(this).siblings("input[type=text]");
                var input_name = $(this).closest('.stringlistinput').data('input-name');
                var new_string = $text_input.val();

                function finish() {
                    var $li = $('<li>').text(new_string + " ")
                                       .append($('<input type="hidden">').attr('name', input_name).val(new_string))
                                       .append($('<i class="remove fa fa-times">'))
                                       .insertBefore($ul.children().last());
                    $text_input.val("");
                }

                var validate_input = $(this).closest('.stringlistinput').data('validate-input');
                if (validate_input) {
                    validate_input($text_input, finish);
                }
                else {
                    finish();
                }
            });

            $('.stringlistinput input').bind('keypress', function(e)
            {
                if ( e.which == 13 )
                {
                    event.preventDefault();

                    var $ul = $(this).closest('ul');
                    var $text_input = $(this);
                    var input_name = $(this).closest('.stringlistinput').data('input-name');
                    var new_string = $text_input.val();

                    function finish() {
                        var $li = $('<li>').text(new_string + " ")
                                           .append($('<input type="hidden">').attr('name', input_name).val(new_string))
                                           .append($('<i class="remove fa fa-times">'))
                                           .insertBefore($ul.children().last());
                        $text_input.val("");
                    }

                    var validate_input = $(this).closest('.stringlistinput').data('validate-input');
                    if (validate_input) {
                        validate_input($text_input, finish);
                    }
                    else {
                        finish();
                    }
                }
            });

            $("body").on("input", "input[type=text]", function() {
                $(this).removeClass("error");
            });

            $(".acllist .stringlistinput").data('validate-input', function($input, finish) {
                $.post("/group/check_rule_reference_exists", {
                    kind: $input.closest(".acllist").data("kind"),
                    name: $input.val()
                }, function(data) {
                    if (data.exists) {
                        finish()
                    }
                    else {
                        $input.addClass("error");
                    }
                });
            });

            $(document).on('click', '.submitPerm', function(e)
            {
                e.preventDefault();

                $.post('/group/${group.id}/add_perm', { permission: $(".permission").val() }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}"
                });

            });

            $(document).on('click', '.setTitle', function(e)
            {
                e.preventDefault();

                $.post('/group/${group.id}/set_title', { title: $(".title").val() }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}"
                });

            });

            $(document).on('click', '.setID', function(e)
            {
                e.preventDefault();

                $.post('/group/${group.id}/set_id', { new_id: $(".id").val() }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/"+$(".id").val();
                });

            });

            $(document).on('click', '.deletePerm', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/delete_perm', { permission: row.attr("id") }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}"
                });
            });

            $(document).on('click', '.acceptRequest', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/accept_request', { name: row.attr("name") }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}/?rule_set=request"
                });
            });

            $(document).on('click', '.denyRequest', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/deny_request', { name: row.attr("name") }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}?rule_set=request"
                });
            });

            $(document).on('click', '.kickMember', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/kick_member', { name: row.attr("name"), method: "${rule_set}" }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}?rule_set=${rule_set}"
                });
            });

        });
    </script>
    <script src="/js/vendor/jquery.select-text.js"></script>
    <script src="/js/vendor/jquery.hotkeys.js"></script>
</%block>
