## encoding: utf-8

<%!
from brave.core.group.acl import ACLList, ACLKey, ACLTitle, ACLRole, ACLMask

def selected(bool):
    return "selected" if bool else ""
%>

<%inherit file="brave.core.template.master"/>

<%block name="title">${group.id | h} - ${group.title | h}</%block>

<%def name="aclrule(rule, group)">
    % if isinstance(rule, ACLList):
        ${acllist(rule, group)}
    % elif isinstance(rule, ACLKey):
        ${aclkey(rule)}
    % elif isinstance(rule, ACLTitle):
        ${acltitle(rule)}
    % elif isinstance(rule, ACLRole):
        ${aclrole(rule)}
    % elif isinstance(rule, ACLMask):
        ${aclmask(rule)}
    % else:
        ERROR THIS WON'T WORK: ${rule.human_readable_repr()}
    % endif
</%def>

<%def name="select_grant(rule)">
    <select name="grant">
        <option value="true" ${selected(rule.grant)}>Grant</option>
        <option value="false" ${selected(not rule.grant)}>Deny</option>
    </select>
</%def>

<%def name="acllist(rule, group)">
    <div class="acllist acl_def" data-kind="${rule.kind}">
        <input type="hidden" name="type" value="list" />
        <input type="hidden" name="kind" value="${rule.kind}" />
        ${select_grant(rule)}
        If Character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>Is</option>
            <option value="true" ${selected(rule.inverse)}>Is Not</option>
        </select>
        % if rule.kind == "c":
            One Of These Characters:
        % elif rule.kind == "o":
            In One Of These Corporations:
        % else:
            In One Of These Alliances:
        % endif

        <%! from brave.core.util.sorting import sort_object_insensitive_alpha %>

        ${stringlistinput("names", sort_object_insensitive_alpha(rule.target_objects(), 'name'), rule.kind, group)}
    </div>
</%def>

<%def name="aclkey(rule)">
    <div class="aclkey acl_def">
        <input type="hidden" name="type" value="key" />
        ${select_grant(rule)}
        If We
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>Have</option>
            <option value="true" ${selected(rule.inverse)}>Don't Have</option>
        </select>
        a(n)
        <select name="kind">
            <option value="Account" ${selected(rule.kind == "Account")}>Account</option>
            <option value="Character" ${selected(rule.kind == "Character")}>Character</option>
            <option value="Corporation" ${selected(rule.kind == "Corporation (wtf?)")}>Corporation</option>
        </select>
        Key For This Character
    </div>
</%def>

<%def name="acltitle(rule)">
    <div class="acltitle acl_def">
        <input type="hidden" name="type" value="title" />
        ${select_grant(rule)}
        If Character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>Has Any</option>
            <option value="true" ${selected(rule.inverse)}>Has None</option>
        </select>
        Of These Titles:
        ${stringlistinput("titles", rule.titles, None, None)}
    </div>
</%def>

<%def name="aclrole(rule)">
    <div class="aclrole acl_def">
        <input type="hidden" name="type" value="role" />
        ${select_grant(rule)}
        If Character
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>Has Any</option>
            <option value="true" ${selected(rule.inverse)}>Has None</option>
        </select>
        Of These Roles:
        ${stringlistinput("roles", rule.roles, None, None)}
    </div>
</%def>

<%def name="aclmask(rule)">
    <div class="aclmask acl_def">
        <input type="hidden" name="type" value="mask" />
        ${select_grant(rule)}
        If We
        <select name="inverse">
            <option value="false" ${selected(not rule.inverse)}>Have</option>
            <option value="true" ${selected(rule.inverse)}>Don't Have</option>
        </select>
        A Key For This Character Supporting Permissions:
        <div style="margin: 7px 3px 2px 3px;">
            <input type="text" name="mask" value="${rule.mask}" />
        </div>
    </div>
</%def>

<%def name="rule_row(rule, group)">
    <tr>
        <td class="handle" style="width: 35px;"><i class="fa fa-arrows-v rowdraghandle" style="padding: 19px 12px 18px 14px; font-size: 20px;"></i></td>
        <td class="rule">${aclrule(rule, group) if rule else ""}</td>
        <td style="text-align: center; width: 55px;">
            <button class="btn btn-small btn-danger deleterule" title="${_('Remove rule')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></button>
        </td>
    </tr>
</%def>

<%def name="stringlistinput(input_name, list, type, group)">
    <div class="stringlistinput" data-input-name="${input_name}">
        <ul class="inline">
            % for item in list:

                <%
                    style=""
                    if type == "c":

                        in_group = group.id in item.tags
                        if in_group:
                            style=""
                        else:
                            style="color:#DB8C00"
                %>

                <li>
                    % if type == "c":
                        <img src="https://image.eveonline.com/Character/${item.identifier}_32.jpg" style="width: 20px; height: 20px; border-radius: 4px; margin-top: -5px;" alt="" />
                    % elif type == "o":
                        <img src="https://image.eveonline.com/Corporation/${item.identifier}_32.png" style="width: 20px; height: 20px; border-radius: 4px; margin-top: -5px;" alt="" />
                    % elif type == "a":
                        <img src="https://image.eveonline.com/Alliance/${item.identifier}_32.png" style="width: 20px; height: 20px; border-radius: 4px; margin-top: -5px;" alt="" />
                    % endif
                    <span onclick="$(this).selectText();" style="${style}}">${item | h}</span>
                    <input type="hidden" name="${input_name}" value="${item | h}" />
                    <i class="remove fa fa-times"></i>
                </li>

            % endfor
            <li>
                <div class="input-append">
                    <input type="text"/>
                    <button class="btn btn-info add">Add</button>
                </div>
            </li>
        </ul>
    </div>
</%def>

<div class="container-fluid">

    <div id="tabs-wrapper">
        <div class="row-fluid">
            <a class="span3 tab${' active' if not rule_set else ''}" href="/group/${group.id}/">
                ${_("Main")}
            </a>
            <a class="span3 tab${' active' if rule_set=='join' else ''}" href="/group/${group.id}/?rule_set=join">
                ${_("Joining")}
            </a>
            <a class="span3 tab${' active' if rule_set=='request' else ''}" href="/group/${group.id}/?rule_set=request">
                ${_("Requests")}
            </a>
        </div>
    </div>

    <div id="pad-wrapper">
        <div class="row-fluid header">
            <h3 onclick="$(this).selectText();" style="font-weight: bold; margin-bottom:20px">${group.id | h}</h3>
            <div class="well well-small">${group.title | h}</div>
        </div>
        % if web.user.has_permission(group.edit_acl_perm):
        <div class="row-fluid table" style="margin: 0;">
            <h3 style="margin: 0 0 20px 0;">
                <div class="btn-group pull-right">
                  <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    Add New ACL Rule
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#" class="addrule" data-rule="list" data-kind="c">By Character Name</a></li>
                    <li><a href="#" class="addrule" data-rule="list" data-kind="o">By Corporation Name</a></li>
                    <li><a href="#" class="addrule" data-rule="list" data-kind="a">By Alliance Name</a></li>
                    <li><a href="#" class="addrule" data-rule="title">By Corporate Title</a></li>
                    <li><a href="#" class="addrule" data-rule="role">By Corporate Role</a></li>
                    <li><a href="#" class="addrule" data-rule="key">By Key Type</a></li>
                    <li><a href="#" class="addrule" data-rule="mask">By Key Mask</a></li>
                  </ul>
                </div>

                Group ACL Rules
            </h3>

            <table id="acl-rules" data-action="/group/${group.id}/set_rules" class="table table-condensed table-bordered sortable" style="min-height: 70px; border-left: 1px solid #dddddd;border-collapse: collapse;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;"><%
                if rule_set == 'join':
                    rules = group.join_rules
                elif rule_set == 'request':
                    rules = group.request_rules
                else:
                    rules = group.rules

                for rule in rules:
                    print rule_row(rule, group)
            %></table>
        </div>

        <div>
            <button id="submit" class="btn btn-success">Save ACL Rules</button>
        </div>

        % endif

        <div style="margin-top:40px"></div>

        % if web.user.has_permission(group.edit_perms_perm) and not rule_set:
            <div class="row-fluid table">
                <h3>
                    <div class="pull-right">
                        <div class="input-append">
                          <input class="permission" id="permission" type="text" placeholder="New Permission Name" class="span2"/>
                          <button class="btn btn-success submitPerm" type="button">Add</button>
                        </div>
                    </div>
                    Group Permissions
                </h3>

                <table id="perms" class="table table-condensed table-striped ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Description</th>
                            <th style="width: 49px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        % for perm in group._permissions:
                            <tr id="${perm.id}">
                                <td><span onclick="$(this).selectText()">${perm.id | h}</span></td>
                                <td>${perm.description | h}</td>
                                <td style="text-align: center;">
                                    <a class="btn btn-danger btn-small deletePerm" href="#" title="${_('Revoke Permission')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif

        % if rule_set == 'request':
            <div class="row-fluid table">
                <h3 style="margin-bottom: 20px;">
                    Pending Membership Requests
                </h3>

                <table id="perms" class="table table-condensed table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 69px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        % for char in group.requests:
                            <tr name="${char.name}">
                                <td><span onclick="$(this).selectText()">${char.name | h}</span></td>
                                <td style="text-align: center;">
                                    <a class="btn btn-success btn-small acceptRequest" href="#" title="${_('Approve Request')}" rel="tooltip" data-placement="bottom"><i class="fa fa-check"></i></a>
                                    <a class="btn btn-danger btn-small denyRequest" href="#" title="${_('Deny Request')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif

        % if rule_set:
            <%
                lang = ''
                if rule_set == 'join':
                    lang = 'Joined'
                else:
                    lang = 'Requested'
            %>
            <div class="row-fluid table">
                <h3 style="margin-bottom: 20px;">
                    Current Members That Have <span style="font-weight: bold">${lang | h}</span> This Group
                </h3>

                <table id="perms" class="table table-condensed table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th style="width: 49px;">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="sortable">
                        % for char in getattr(group, rule_set + "_members"):
                            <tr name="${char.name}">
                                <td><span onclick="$(this).selectText()">${char.name | h}</span></td>
                                <td style="text-align: center;">
                                    <a class="btn btn-danger btn-small kickMember" href="#" title="${_('Remove From Group')}" rel="tooltip" data-placement="bottom"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
            </div>
        % endif

    </div>
</div>

<table style="display: none" id="row-template-container">
    ${rule_row(None, None)}
</table>
<div style="display: none" id="acl-templates">
    ${aclrule(ACLList(grant=True, kind='c', ids=[]), group)}
    ${aclrule(ACLList(grant=True, kind='o', ids=[]), group)}
    ${aclrule(ACLList(grant=True, kind='a', ids=[]), group)}
    ${aclrule(ACLKey(grant=True, kind='Account'), None)}
    ${aclrule(ACLTitle(grant=True, titles=[]), None)}
    ${aclrule(ACLRole(grant=True, roles=[]), None)}
    ${aclrule(ACLMask(grant=True, mask=0), None)}
</div>

<%block name="pre">
    ${parent.pre()}

    <style type="text/css">
        .stringlistinput .remove {
            cursor: pointer;
            padding: 2px 3px;
        }

        .stringlistinput .remove:hover {
            color: #CE0000;
        }

        .handle {
            cursor: move;
            line-height: 200%;
        }

        .handle:hover .rowdraghandle{
            color: #5298E4;
        }

        .handle:active .rowdraghandle{
            color: #C51E1E;
        }

        .header{
            margin-bottom: 20px;
        }

        #acl-rules select {
            border: none;
            outline: none;
            display: inline-block;
            cursor: pointer;
            height: 22px;
            line-height: 22px;
            margin-top: -4px;
            font-weight: bold;;
            padding: 0;
            width: auto;
            font-size: 15px;

            border-bottom: 1px solid;
            border-radius: 0;
        }

        table#acl-rules:empty::before {
            content: "No Rules Exist Yet, Add Some!";
            font-style: italic;
        }

        table#acl-rules:empty {
            min-height: 0 !important;
            border: none !important;
        }

        #acl-rules input {
            margin-bottom: 0;
        }

        .stringlistinput li{
            margin: 2px 0;
            float: left;
            display: block;
        }
        .stringlistinput li:not(:last-child) {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 4px 3px 4px 6px;
            margin: 2px 3px;
        }

        .stringlistinput li .input-append {
            margin-bottom: 0;
        }
        .stringlistinput li .add-on {
            height: auto;
        }

        .aclmask input[type=text] {
            width: auto;
        }

        .stringlistinput input.error[type=text] {
            border: 1px solid red;
        }

        .acl_def{
            font-size: 15px;
            line-height: 24px;
        }

        ul.inline{
            margin:0;
            margin-top:5px;
        }

        .ui-sortable-placeholder{
            background: #EBEBEB;
            height:70px;
        }

        .ui-sortable-helper{
            background: #f5f5f5;
            border: 1px solid #ddd;
        }

        .ui-state-highlight{
            background: #EBEBEB;
            height:70px;
            border: none;
        }

    </style>
</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function() {
            $(".sortable").sortable({
                handle: ".handle",
                containment: "parent",
                cursor: "move",
                distance: 3,
                placeholder: "ui-state-highlight",
                update: function(event, ui) {
                    ui.item.parent().children().removeClass("first").filter(":first-child").addClass("first");
                }
            });

            function get_rule_data() {
                var a = [];
                $("#acl-rules > tr").each(function() {
                    a.push($(this).find(":input").serializeAssoc());
                });
                return a;
            }

            $("#submit").click(function() {
                console.log(JSON.stringify(get_rule_data()));
                $.post($("#acl-rules").data("action"), {
                    rules: JSON.stringify(get_rule_data())
                }, function(data) {
                    var confirm_text = "Here's what the server heard. Check to make sure everything looks right!<pre>" + data + "</pre>";
                    confirm("confirm", confirm_text, "okay", function() {
                        $.post($("#acl-rules").data("action"), {
                            rules: JSON.stringify(get_rule_data()),
                            really: "really",
                            rule_set: "${rule_set}"
                        }).fail(function(data) {
                            alert("something went wrong!");
                        });
                    });
                }).fail(function(data) {
                    alert("something went wrong!");
                });
            });

            $(".addrule").click(function() {
                var template_selector = ".acl"+$(this).data("rule");
                var kind = $(this).data("kind");
                if (kind) {
                    template_selector += "[data-kind="+kind+"]";
                }
                var editor = $("#acl-templates").find(template_selector).clone(true);
                var row = $("#row-template-container tr").clone().removeClass("first");
                row.find(".rule").append(editor);
                $("#acl-rules").append(row);
            });

            $("body").on("click", ".deleterule", function() {
                $(this).closest("tr").remove();
            });

            $("body").on("click", ".stringlistinput .remove", function() {
                $(this).closest("li").remove();
            });

            // TODO: Merge the following two events

            $("body").on("click", ".stringlistinput .add", function()
            {
                var $ul = $(this).closest('ul');
                var $text_input = $(this).siblings("input[type=text]");
                var input_name = $(this).closest('.stringlistinput').data('input-name');
                var new_string = $text_input.val();

                function finish() {
                    var $li = $('<li>').text(new_string + " ")
                                       .append($('<input type="hidden">').attr('name', input_name).val(new_string))
                                       .append($('<i class="remove fa fa-times">'))
                                       .insertBefore($ul.children().last());
                    $text_input.val("");
                }

                var validate_input = $(this).closest('.stringlistinput').data('validate-input');
                if (validate_input) {
                    validate_input($text_input, finish);
                }
                else {
                    finish();
                }
            });

            $('.stringlistinput input').bind('keypress', 'return', function()
            {
                var $ul = $(this).closest('ul');
                var $text_input = $(this);
                var input_name = $(this).closest('.stringlistinput').data('input-name');
                var new_string = $text_input.val();

                function finish() {
                    var $li = $('<li>').text(new_string + " ")
                                       .append($('<input type="hidden">').attr('name', input_name).val(new_string))
                                       .append($('<i class="remove fa fa-times">'))
                                       .insertBefore($ul.children().last());
                    $text_input.val("");
                }

                var validate_input = $(this).closest('.stringlistinput').data('validate-input');
                if (validate_input) {
                    validate_input($text_input, finish);
                }
                else {
                    finish();
                }
            });

            $("body").on("input", "input[type=text]", function() {
                $(this).removeClass("error");
            });

            $(".acllist .stringlistinput").data('validate-input', function($input, finish) {
                $.post("/group/check_rule_reference_exists", {
                    kind: $input.closest(".acllist").data("kind"),
                    name: $input.val()
                }, function(data) {
                    if (data.exists) {
                        finish()
                    }
                    else {
                        $input.addClass("error");
                    }
                });
            });

            $(document).on('click', '.submitPerm', function(e)
            {
                e.preventDefault();

                $.post('/group/${group.id}/add_perm', { permission: $(".permission").val() }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}"
                });

            });

            $(document).on('click', '.deletePerm', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/delete_perm', { permission: row.attr("id") }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}"
                });
            });

            $(document).on('click', '.acceptRequest', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/accept_request', { name: row.attr("name") }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}/?rule_set=request"
                });
            });

            $(document).on('click', '.denyRequest', function(e)
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/deny_request', { name: row.attr("name") }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}?rule_set=request"
                });
            });

            $(document).on('click', '.kickMember', function()
            {
                e.preventDefault();

                var row = $(this).parents('tr');
                $.post('/group/${group.id}/kick_member', { name: row.attr("name"), method: "${rule_set}" }).
                done(function()
                {
                    //Should probably add the permission here... WTB CSRF for normal POST requests
                    window.location="/group/${group.id}?rule_set=${rule_set}"
                });
            });

        });

        // Select Text jQuery Plugin
        (function(jQuery){
        jQuery.fn.selectText = function(){
            var doc = document
                , element = this[0]
                , range, selection
            ;
            if (doc.body.createTextRange) {
                range = document.body.createTextRange();
                range.moveToElementText(element);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();
                range = document.createRange();
                range.selectNodeContents(element);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        };
        })( this.jQuery );


        /*
         * jQuery Hotkeys Plugin
         * Copyright 2010, John Resig
         * Dual licensed under the MIT or GPL Version 2 licenses.
         *
         * Based upon the plugin by Tzury Bar Yochay:
         * http://github.com/tzuryby/hotkeys
         *
         * Original idea by:
         * Binny V A, http://www.openjs.com/scripts/events/keyboard_shortcuts/
        */

        /*
         * One small change is: now keys are passed by object { keys: '...' }
         * Might be useful, when you want to pass some other data to your handler
         */
        (function(jQuery){

            jQuery.hotkeys = {
                version: "0.8",

                specialKeys: {
                    8: "backspace", 9: "tab", 10: "return", 13: "return", 16: "shift", 17: "ctrl", 18: "alt", 19: "pause",
                    20: "capslock", 27: "esc", 32: "space", 33: "pageup", 34: "pagedown", 35: "end", 36: "home",
                    37: "left", 38: "up", 39: "right", 40: "down", 45: "insert", 46: "del", 59: ";", 61: "=",
                    96: "0", 97: "1", 98: "2", 99: "3", 100: "4", 101: "5", 102: "6", 103: "7",
                    104: "8", 105: "9", 106: "*", 107: "+", 109: "-", 110: ".", 111 : "/",
                    112: "f1", 113: "f2", 114: "f3", 115: "f4", 116: "f5", 117: "f6", 118: "f7", 119: "f8",
                    120: "f9", 121: "f10", 122: "f11", 123: "f12", 144: "numlock", 145: "scroll", 173: "-", 186: ";", 187: "=",
                    188: ",", 189: "-", 190: ".", 191: "/", 192: "`", 219: "[", 220: "\\", 221: "]", 222: "'"
                },

                shiftNums: {
                    "`": "~", "1": "!", "2": "@", "3": "#", "4": "$", "5": "%", "6": "^", "7": "&",
                    "8": "*", "9": "(", "0": ")", "-": "_", "=": "+", ";": ": ", "'": "\"", ",": "<",
                    ".": ">",  "/": "?",  "\\": "|"
            },

            // excludes: button, checkbox, file, hidden, image, password, radio, reset, search, submit, url
            textAcceptingInputTypes: [
              "text", "password", "number", "email", "url", "range", "date", "month", "week", "time", "datetime",
              "datetime-local", "search", "color", "tel"],

            options: {
              filterTextInputs: true
                }
            };

          function keyHandler( handleObj ) {
            if ( typeof handleObj.data === "string" ) {
              handleObj.data = { keys: handleObj.data };
            }

                // Only care when a possible input has been specified
                if ( !handleObj.data || !handleObj.data.keys || typeof handleObj.data.keys !== "string" ) {
                    return;
                }

                var origHandler = handleObj.handler,
                    keys = handleObj.data.keys.toLowerCase().split(" ");

            handleObj.handler = function( event ) {
              // Don't fire in text-accepting inputs that we didn't directly bind to
              if ( this !== event.target && (/textarea|select/i.test( event.target.nodeName ) ||
                ( jQuery.hotkeys.options.filterTextInputs &&
                  jQuery.inArray(event.target.type, jQuery.hotkeys.textAcceptingInputTypes) > -1 ) ) ) {
                        return;
                    }

                    var special = jQuery.hotkeys.specialKeys[ event.keyCode ],
                        character = String.fromCharCode( event.which ).toLowerCase(),
                        modif = "", possible = {};

              jQuery.each([ "alt", "ctrl", "meta", "shift" ], function(index, specialKey) {
                if (event[specialKey + 'Key'] && special !== specialKey) {
                  modif += specialKey + '+';
                }
              });


              modif = modif.replace('alt+ctrl+meta+shift', 'hyper');

                    if ( special ) {
                        possible[ modif + special ] = true;
                    }

                    if ( character ) {
                        possible[ modif + character ] = true;
                        possible[ modif + jQuery.hotkeys.shiftNums[ character ] ] = true;

                        // "$" can be triggered as "Shift+4" or "Shift+$" or just "$"
                        if ( modif === "shift+" ) {
                            possible[ jQuery.hotkeys.shiftNums[ character ] ] = true;
                        }
                    }

                    for ( var i = 0, l = keys.length; i < l; i++ ) {
                        if ( possible[ keys[i] ] ) {
                            return origHandler.apply( this, arguments );
                        }
                    }
                };
            }

            jQuery.each([ "keydown", "keyup", "keypress" ], function() {
                jQuery.event.special[ this ] = { add: keyHandler };
            });

        })( this.jQuery );
    </script>
</%block>