## encoding: utf-8

<%inherit file="brave.core.template.master"/>

<%block name="title">Groups</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(document).on('click', '.leave', function()
        {
            var row = $(this).parents('tr');
            $.post('/group/',
            {
                id:row.attr('data-id'),
                action: 'leave'
            }).
            done(function()
            {
                window.location = '/group/'
            });
        })
        
        $(document).on('click', '.withdraw', function()
        {
            var row = $(this).parents('tr');
            $.post('/group/',
            {
                id:row.attr('data-id'),
                action: 'withdraw'
            }).
            done(function()
            {
                window.location = '/group/'
            });
        })
        
        $(document).on('click', '.join', function()
        {
            var row = $(this).parents('tr');
            $.post('/group/', {
                id:row.attr('data-id'),
                action: 'join'
            }).
            done(function()
            {
                window.location = '/group/'
            });
        })
        
        $(document).on('click', '.request', function()
        {
            var row = $(this).parents('tr');
            $.post('/group/', {
                id:row.attr('data-id'),
                action: 'request'
            }).
            done(function()
            {
                window.location = '/group/'
            });
        })
    </script>
</%block>

<div class="container-fluid">
    % if web.user.has_any_permission('core.group.edit.*'):
    <div id="tabs-wrapper">
        <div class="row-fluid">
            <a class="span3 tab active" href="/group/">
                ${_("Join")}
            </a>
            <a class="span3 tab" href="/group/manage">
                ${_("Manage")}
            </a>
        </div>
    </div>
    % endif

    <div id="pad-wrapper">
        <div class="row-fluid table">
            % if not len(groups) or not web.user.primary:
                <p class="subtext" style="text-transform: uppercase;"><strong>You do not seem to be able to join any groups.</strong></p>
            % else:
                % for c in categories:
                <h3>${c.name}</h3><br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="span2">id</th>
                            <th class="span4">title</th>
                            <th class="span3">status</th>
                            <th class="span3">actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        % for g in c.members:
                        <%
                            if g not in groups:
                                continue
                        %>
                            <tr data-id="${g.id | h}">
                                <td><a href="/group/${g.id | u}">${g.id | h}</a></td>
                                <td>${g.title | h}</td>
                                <td>
                                % if g in web.user.primary.groups:
                                    Member
                                % elif web.user.primary in g.requests:
                                    Request pending
                                % endif
                                </td>
                                <td>
                                % if g in web.user.primary.groups:
                                    <button class="btn btn-danger btn-small leave"><i class="fa fa-times"></i> Leave Group</button>
                                % elif g in joinableGroups:
                                    <button class="btn btn-success btn-small join"><i class="fa fa-plus"></i> Join Group</button>
                                % elif web.user.primary in g.requests:
                                    <button class="btn btn-warning btn-small withdraw"><i class="fa fa-times"></i> Withdraw Request</button>
                                % elif g in requestableGroups:
                                    <button class="btn btn-success btn-small request"><i class="fa fa-plus"></i> Request Access</button>
                                % else:
                                    None?
                                % endif
                                </td>
                            </tr>
                        % endfor
                    </tbody>
                </table>
                % endfor
            % endif
        </div>
    </div>
</div>
