<p>Total: ${"%0.2f" % drive.total}</p>

<%
count = drive.latest.count()
%>
<h2>${count} Most Recent Donation${'' if count == 1 else 's'} (of ${drive.count})</h2>

<table>
	<thead>
		<tr>
			<th>Date</th>
			<th colspan="2">Player</th>
			<th>ISK</th>
			<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		% for donation in drive.latest:
		<tr>
			<td>${donation.date.isoformat()}</td>
			<td><img src="http://image.eveonline.com/Character/${donation.whoId}_32.jpg"></td>
			<td>${donation.who}</td>
			<td>${donation.amount}</td>
			<td>${donation.comment}</td>
		</tr>
		% endfor
	</tbody>
</table>
</pre>