<%page args="records, admin"/>

<div class="row-fluid table">
    <table class="table table-hover">
        <thead>
            <tr>
                % if not admin:
                    <th class="span2 sortable name">Name</th>
                    <th class="span3 sortable corporation"><span class="line"></span>Corporation</th>
                    <th class="span3 sortable alliance"><span class="line"></span>Alliance</th>
                % else:
                    <th class="span2 sortable name">Name</th>
                    <th class="span3 sortable corporation"><span class="line"></span>Corporation</th>
                    <th class="span3 sortable alliance"><span class="line"></span>Alliance</th>
                % endif

                % if admin:
                    <th class="span3 sortable username"><span class="line"></span>User</th>
                % else:
                    <th class="span3 sortable actions"><span class="line"></span></th>
                % endif
            </tr>
        </thead>
        <tbody>
            % for record in records:
                <%
                if not record.corporation or not record.identifier:
                    continue
                %>
                <tr data-id="${record.id}">
                    <td class="name">
                        <span class="ellipsis">
                            <img src="//image.eveonline.com/Character/${record.identifier}_32.jpg" style="vertical-align: -55%; margin-right: 5px; border-radius: 6px; width: 32px; height: 32px;">
                            <a href="/character/${record.id}">
                                <strong>${record.name | h}</strong>
                            </a>
                        </span>
                    </td>
                    <td class="corporation">
                        <span class="ellipsis">
                            <img src="//image.eveonline.com/Corporation/${record.corporation.identifier}_32.png" style="vertical-align: -55%; margin-right: 5px; width: 32px; height: 32px;">
                            ${record.corporation.name | h}
                        </span>
                    </td>
                    <td class="alliance">
                        % if record.alliance and record.alliance.identifier:
                            <span class="ellipsis">
                                <img src="//image.eveonline.com/Alliance/${record.alliance.identifier}_32.png" style="vertical-align: -55%; margin-right: 5px; width: 32px; height: 32px;">
                                ${record.alliance.name | h}
                            </span>
                        % else:
                            <em>None</em>
                        % endif
                    </td>
                    % if admin:
                        <td class="username">
                            <span class="ellipsis">
                                % if record.owner:
                                    <a href="/account/${record.owner.id}">${record.owner | h}</a>
                                % else:
                                    no associated account
                                %endif
                            </span>
                        </td>
                    % else:
                        <td class="actions">
                            <span class="ellipsis ${'isdefault' if web.user.primary and record.id == web.user.primary.id else 'makedefault'} span" style="vertical-align">
                                <i class="makedefault fa fa-star${'' if web.user.primary and record.id == web.user.primary.id else '-o'} fa-2x" style="vertical-align: -20%; float: left;"></i>
                                <p style="width: 1%; float: left;"></p>
                                <p class="${'isdefault' if web.user.primary and record.id == web.user.primary.id else 'makedefault'} text" style="float: left;">
                                    ${'Your primary char' if web.user.primary and record.id == web.user.primary.id else 'Make this char primary'}
                                </p>
                            </span>
                        </td>
                    % endif
                </tr>
            % endfor
        </tbody>
    </table>
</div>
