## encoding: utf-8

<%inherit file="brave.core.template.master"/>

<%block name="title">EVE Characters</%block>

<%block name="header">
    ${parent.header()}
    
    <style>
        .modal-body form { margin-bottom: 0; }
        .modal-body form input.input-block-level:last-child { margin-bottom: 0; }
        table.table { table-layout: fixed; width: 100%; }
        span.ellipsis { display: inline-block; width: 100%; overflow: hidden !important; white-space: nowrap !important; text-overflow: ellipsis !important; word-break: break-all !important; word-wrap: break-word !important; }
        td.alliance { position: relative; }
        .makedefault.fa-star-o { color: rgb(153, 153, 153); }
        .makedefault.fa-star, .makedefault.fa-star-o:hover { color: rgb(58, 135, 173); }
    </style>
</%block>

<%block name="post">
    ${parent.post()}
    <%include file="brave.core.character.template.charScripts"/>
</%block>

<div class="container-fluid">
    % if web.user.has_permission('core.character.list.all'):
    <div id="tabs-wrapper">
        <div class="row-fluid">
            <a class="span3 tab${' active' if not admin else ''}" href="/character/">
                Your Characters
            </a>
            <a class="span3 tab${' active' if admin else ''}" href="/character/?admin=true">
                All Characters
            </a>
        </div>
    </div>
    % endif

    <div id="pad-wrapper">
        <div class="row-fluid header">
            <h3>EVE Online Characters</h3>
        </div>
        
        <%include file="brave.core.character.template.charTable"/>
    </div>
</div>
