## encoding: utf-8

<p>
Enter your API key details below.  The minimum permissions required for Alliance applications are: CharacterInfo, Standings, and Medals, all under the Public Information category.  
</p>
<p>
You may use one of the following links to go to CCP's New API Key page with the correct permissions pre-selected:<br />
<a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=8921088">Create a standard API key</a> with minimum permissions.<br/>
<a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455">Create a full API key</a> with all permissions.  BRAVE Leadership should choose this, as should anyone who wishes to avoid adding more API keys for future Core apps.<br/>
</p>
<p>
<strong>Note:</strong> When creating a new API key, you must click Submit on CCP's New API Key page to actually save the key.  The keyID and vCode will be found on the <a target="_blank" href="https://community.eveonline.com/support/api-key/">API Key Management page</a>.
</p>

<p>
    <form>
        <input name="key" type="text" class="input-block-level" placeholder="Key ID" pattern="^\d+$" maxlength="8" autocomplete="off" required>
        <input name="code" type="text" class="input-block-level" placeholder="Verification Code" maxlength="64" autocomplete="off" required>
    </form>
</p>
