## encoding: utf-8

<p>
    Enter your API key details below.  You can <a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=8921088">use a standard key</a> or <a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455">use a full key</a> if you are leadership.  Additional permissions can determine access to services or the features those services will be able to offer you.
</p>
<p>
    <strong>Note:</strong>
    At no point are services given direct access to your API key.  Any API access a service requests must be explicitly granted by you at the time you register for the service.
    
    <form>
        <input name="key" type="text" class="input-block-level" placeholder="Key ID" pattern="^\d+$" maxlength="8" autocomplete="off" required>
        <input name="code" type="text" class="input-block-level" placeholder="Verification Code" maxlength="64" autocomplete="off" required>
    </form>
</p>
