## encoding: utf-8

<p>
  Each Core application requires a particular set of API permissions.  The Core service keeps track of your API keys and shares information with Core apps after you authorize that particular app.  The minimum permissions required for Alliance applications are: CharacterInfo, Standings, and Medals, all under the Public Information category.  After you have an appropriate key, copy and paste its keyID and vCode below. 
</p>
<p>
You may <a target="_blank" href="https://community.eveonline.com/support/api-key/">view your existing API keys</a> at eveonline.com, and you can use an existing key as long as it has adequate permissions.  If you prefer to make a new API key, you may use one of the following links to go to CCP's "New API Key" page with the correct permissions pre-selected:<br />
<a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=8921088">Create a standard API key</a> with minimum permissions.<br/>
<a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455">Create a full API key</a> with all permissions.  BRAVE Leadership should choose this, as should anyone who wants to avoid adding more API keys for future Core apps.<br/>
Note - when creating a new API key, you must click Submit on CCP's page to actually save the key.
</p>

<p>
    <strong>Note:</strong>
    At no point are services given direct access to your API key.  Any API access a service requests must be explicitly granted by you at the time you register for the service.
    
    <form>
        <input name="key" type="text" class="input-block-level" placeholder="Key ID" pattern="^\d+$" maxlength="8" autocomplete="off" required>
        <input name="code" type="text" class="input-block-level" placeholder="Verification Code" maxlength="64" autocomplete="off" required>
    </form>
</p>
