## encoding: utf-8

<%inherit file="brave.core.template.master"/>

<%block name="title">${_("EVE API Keys")}</%block>

<%block name="header">
    ${parent.header()}
    
    <style>
        .modal-body form { margin-bottom: 0; }
        .modal-body form input.input-block-level:last-child { margin-bottom: 0; }
        table.table { table-layout: fixed; width: 100%; }
        span.ellipsis { display: inline-block; width: 100%; overflow: hidden !important; white-space: nowrap !important; text-overflow: ellipsis !important; word-break: break-all !important; word-wrap: break-word !important; }
    </style>
</%block>

<%block name="post">
    ${parent.post()}
    
    <script type="text/javascript" charset="utf-8">
        $(function()
        {

            $('time').timeago();

            $('.add').on('click', function()
            {
                confirm(
                    "Add New API Key",
                    '<p>' +
                        'Enter your API key details below. The minimum permissions required for Alliance applications are: CharacterInfo, Standings, and Medals, all under the Public Information category.' +
                    '</p>' +
                    '<p>' +
                        'You may use one of the following links to go to CCP&apos;s New API Key page with the correct permissions pre-selected:<br />' +
                        '<a target="_blank" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=${rec_mask}">Create a standard API key</a> with minimum permissions. A${"n" if rec_kind == "Account" else ""} <b>${rec_kind}</b> key is recommended.<br/>' +
                        '<a target="_blank" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455">Create a full API key</a> with all permissions.  BRAVE Leadership should choose this, as should anyone who wishes to avoid adding more API keys for future Core apps.<br/>' +
                    '</p>' +
                    '<p>' +
                        '<strong>Note:</strong> When creating a new API key, you must click Submit on CCP&apos;s New API Key page to actually save the key.  The keyID and vCode will be found on the <a target="_blank" href="https://community.eveonline.com/support/api-key/">API Key Management page</a>.' +
                    '</p>' +
                    '<p>' +
                        '<form>' +
                            '<input name="key" type="text" class="input-block-level" placeholder="Key ID" pattern="^\\d+$" maxlength="8" autocomplete="off" required>' +
                            '<input name="code" type="text" class="input-block-level" placeholder="Verification Code" maxlength="64" autocomplete="off" required>' +
                        '</form>' +
                    '</p>',
                    {
                        label: "Add Key",
                        kind: 'btn-success'
                    },
                    function()
                    {
                        $('#modal form .alert').remove();
                        if (!/\d+/.test($('#modal form input[name="key"]').val())) {
                            errors = true;
                            $('#modal form input[name="key"]').after(
                                '<div class="alert alert-error">' +
                                    '<strong>Key ID must be a number</strong>'
                            );
                            return true;
                        }
                        $.post('/key/', $('#modal form').serialize(), function(data)
                        {
                            if (!data.success) {
                                alert(data.message);
                                return;
                            }
                            window.location.reload();
                        });
                    }
                );
            });

            $(document).on('click', '.delete', function() {
                var row = $(this).parents('tr');

                confirm(
                    "Are you really, <em>really</em> sure?",
                    "By removing API keys you may lose access to services you would ordinarily have access to.<br/>" +
                        "It may even make pandas cry. Please, think of the high-altitude melting pandas.",
                    {
                        label: "Remove Key",
                        kind: 'btn-danger'
                    },
                    function()
                    {
                        $.ajax('/key/' + row.attr('data-id'),
                        {
                            type: 'DELETE'
                        }).
                        done(function()
                        {
                            row.remove();
                        });
                    }
                );
            });
            
            $(document).on('click', '.refresh', function() {
                var row = $(this).parents('tr');
                $('i', this).addClass('fa-spin');
                $.ajax('/key/' + row.attr('data-id') + '/refresh', {
                        type: 'POST'
                    }).done(function() {
                        window.location = window.location;
                    });
            });
        });
    </script>
</%block>


<div class="container-fluid">
    % if web.user.has_permission('core.key.list.all'):
    <div id="tabs-wrapper">
        <div class="row-fluid">
            <a class="span3 tab${' active' if not admin else ''}" href="/key/">
                ${_("Your API Keys")}
            </a>
            <a class="span3 tab${' active' if admin else ''}" href="/key/?admin=true">
                ${_("All API Keys")}
            </a>
        </div>
    </div>
    % endif

    <div id="pad-wrapper">
        <div class="row-fluid header">
            <a class="btn btn-success pull-right add"><i class="fa fa-plus"></i> ${_("Add Key")}</a>
            <h3>${_("EVE Online API Keys")}</h3>
        </div>
        <div class="row-fluid">
            <p>
                Each Core application requires a particular set of API permissions.  The Core service keeps track of your API keys and shares relevant information with your Core apps.
            </p>
            <p>
                <strong>Note:</strong> At no point are apps given direct access to your API key. Any API access an app requests must be explicitly granted by you when you grant authorization to the app.
            </p>
        </div>
        
        <%include file="brave.core.key.template.keyTable"/>
        
    </div>
</div>
