## encoding: utf-8

<%inherit file="brave.core.template.master"/>

<%block name="title">EVE API Keys</%block>

<%block name="header">
    ${parent.header()}
    
    <style>
        .modal-body form { margin-bottom: 0; }
        .modal-body form input.input-block-level:last-child { margin-bottom: 0; }
        table.table { table-layout: fixed; width: 100%; }
        span.ellipsis { display: inline-block; width: 100%; overflow: hidden !important; white-space: nowrap !important; text-overflow: ellipsis !important; word-break: break-all !important; word-wrap: break-word !important; }
    </style>
</%block>

<%block name="post">
    ${parent.post()}
    
    <script src="/js/vendor/jquery.timeago.js" charset="utf-8"></script>
    <script src="/js/vendor/bootbox.js" charset="utf-8"></script>
    
    <script type="text/javascript" charset="utf-8">
        $(function()
        {

            $('time').timeago();

            $('.add').on('click', function()
            {
                confirm(
                    "Add New API Key",
                    '<p>' +
                        'Enter your API key details below. ' +
                        'You can <a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=8921088">use a standard key</a> or ' +
                        '<a target="_blank" href="http://community.eveonline.com/support/api-key/CreatePredefined?accessMask=268435455">use a full key</a> ' +
                        'if you are leadership.  Additional permissions can determine access to services or the features those services will be able to offer you.' +
                    '</p>' +
                    '<p>' +
                        '<strong>Note:</strong> At no point are services given direct access to your API key.  Any API access a service ' +
                        'requests must be explicitly granted by you at the time you register for the service.' +
                        '<form>' +
                            '<input name="key" type="text" class="input-block-level" placeholder="Key ID" pattern="^\\d+$" maxlength="8" autocomplete="off" required>' +
                            '<input name="code" type="text" class="input-block-level" placeholder="Verification Code" maxlength="64" autocomplete="off" required>' +
                        '</form>' +
                    '</p>',
                    {
                        label: "Add Key",
                        kind: 'btn-success'
                    },
                    function()
                    {
                        $('#modal form .alert').remove();
                        if (!/\d+/.test($('#modal form input[name="key"]').val())) {
                            errors = true;
                            $('#modal form input[name="key"]').after(
                                '<div class="alert alert-error">' +
                                    '<strong>Key ID must be a number</strong>'
                            );
                            return true;
                        }
                        $.post('/key/', $('#modal form').serialize(), function(data)
                        {
                            $(
                                '<tr data-id="' + data.identifier + '">' +
                                    '<td class="key-id">' +
                                        '<i class="icon-fixed-width icon-remove"></i> ' + data.key +
                                    '</td>' +
                                    '<td class="key-code">' +
                                        '<div>' + data.code + '</div>' +
                                    '</td>' +
                                    '<td class="key-date">' +
                                        '<time datetime="'+ISODateString(new Date())+'"></time>' +
                                    '</td>' +
                                    '<td class="actions">' +
                                        '<button class="btn btn-danger btn-small delete" title="Remove API Key" rel="tooltip" data-placement="bottom">' +
                                        '<i class="icon-remove"></i>' +
                                        '</button>' +
                                    '</td>' +
                                '</tr>'
                            ).appendTo('table.table tbody');

                            $('time').timeago();
                        });
                    }
                );
            });

            $(document).on('click', '.delete', function()
            {
                var row = $(this).parents('tr');

                confirm(
                    "Are you really, <em>really</em> sure?",
                    "By removing API keys you may lose access to services you would ordinarily have access to.<br/>" +
                        "It may even make pandas cry. Please, think of the high-altitude melting pandas.",
                    {
                        label: "Remove Key",
                        kind: 'btn-danger'
                    },
                    function()
                    {
                        $.ajax('/key/' + row.attr('data-id'),
                        {
                            type: 'DELETE'
                        }).
                        done(function()
                        {
                            row.remove();
                        });
                    }
                );
            });
        });
    </script>
</%block>

<div class="container-fluid">
    % if web.user.admin:
    <div id="tabs-wrapper">
        <div class="row-fluid">
            <a class="span3 tab${' active' if not admin else ''}" href="/key/">
                Your API Keys
            </a>
            <a class="span3 tab${' active' if admin else ''}" href="/key/?admin=true">
                All API Keys
            </a>
        </div>
    </div>
    % endif

    <div id="pad-wrapper">
        <div class="row-fluid header">
            <a class="btn btn-success pull-right add"><i class="icon-plus"></i> Add Key</a>
            <h3>EVE Online API Keys</h3>
        </div>
        
        <div class="row-fluid table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="span2 sortable key-id">Key ID</th>
                        <th class="span4 sortable key-code"><span class="line"></span>Verification Code</th>
                        <th class="span2 sortable characters hidden-tablet hidden-phone"><span class="line"></span>Characters</th>
                        <th class="span3 sortable key-date hidden-phone"><span class="line"></span>Added</th>
                        <th class="span1 actions"><span class="line"></span>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    % for record in records:
                    <tr data-id="${record.id}">
                        <td class="key-id"><i class="icon-fixed-width icon-${'ok' if record.verified else 'remove'}"></i> ${record.key}</td>
                        <td class="key-code"><span class="ellipsis">${record.code}</span></td>
                        <td class="characters hidden-tablet hidden-phone">
                            % for char in record.characters:
                            <img src="http://image.eveonline.com/Character/${char.identifier}_32.jpg" style="vertical-align: middle; margin-right: 5px; border-radius: 3px; width: 24px; height: 24px;" title="${char.name}">
                            % endfor
                        </td>
                        <td class="key-date hidden-phone"><time datetime="${record.id.generation_time.isoformat().replace('+00:00', 'Z')}">${record.id.generation_time.isoformat(' ').replace('+00:00', '')}</time></td>
                        <td class="actions">
                            <button class="btn btn-danger btn-small delete" title="Remove API Key" rel="tooltip" data-placement="bottom"><i class="icon-remove"></i></button>
                        </td>
                    </tr>
                    % endfor
                </tbody>
            </table>
        </div>
    </div>
</div>
