## encoding: utf-8

<%inherit file="brave.core.template.master"/>

<%! from brave.core.util.filter import app_url %>

<%block name="title">Dashboard</%block>

<%block name="header">
    ${parent.header()}

    <script src="/js/vendor/less-1.4.0-beta.min.js?${web.user.id | u}"></script>
    
    <style>
        .user-profile .header span.area { color: #7d848c; font-style: italic; font-size: 14px; }
        .user-profile .header .avatar { width: 96px; height: 96px; float: left; margin-right: 25px; border: 2px solid #e9ecee; position: relative; top: 3px; border-radius: 12px; }
        .user-profile .header .name { font-weight: 600; margin: 0 0 10px; line-height: 26px; float: none; padding-top: 12px; }
        .user-profile .header .area span { margin: 0 5px; }
        #pad-wrapper.user-profile h4 { margin: 0 0 10px; font-weight: 600; font-size: 14px; font-style: normal; text-indent: 0; color: black; }
        .user-profile .profile .bio p { 
    </style>
</%block>

<%block name="post">
    ${parent.post()}

    <script type="text/javascript" charset="utf-8">
        $(function(){
            $('time').timeago();
        });
    </script>
</%block>

<div class="container-fluid">
    <div id="pad-wrapper" class="user-profile">
    % if not web.user.primary:
        % if not web.user.credentials:
            Add an API key to your account by going to the <a href="/key">key management page</a>.
        % else:
            Select your primary character by starring it on the <a href="/character">characters page</a>.
        % endif
    % else:
        <div class="header">
            <img src="//image.eveonline.com/Character/${web.user.primary.identifier}_128.jpg" class="avatar">
            
            <h3 class="name">${web.user.primary.name | h}</h3>
            <span class="area">
            ${", ".join(web.user.primary.titles) | h}
            </span>
            <div class="area">
                <a target="_blank" href="https://gate.eveonline.com/Corporation/${web.user.primary.corporation.name | h}">${web.user.primary.corporation.name | h}</a>
                % if web.user.primary.alliance:
                <span>›</span> <a target="_blank" href="https://gate.eveonline.com/Alliance/${web.user.primary.alliance.name | h}">${web.user.primary.alliance.name | h}</a>
                % endif
            </div>
        </div>
        
        <div class="row-fluid profile">
            <div class="span9 bio" style="box-shadow: 4px 0px 3px -1px rgba(226,226,226,0.1); border-right: 1px solid #edeef1">
                <div class="profile-box" style="padding-right: 25px;">
                    <h4>Welcome</h4>
                    <p>
                        Welcome to the Brave Collective Core service.  This site provides a way for you to securely provide EVE API keys and manage the applications you can use Core to authenticate.
                    </p>
                    <p>
                        Use the <em>Authorized Applications</em> links on the right-hand side to quickly jump to the application of your choice.
                    </p>
                    <p>
                        The listing of <em>Authentication Attempts</em> below will list all successful and unsuccessful attempts made to log into your account.  If you notice suspicious activity please contact the IT Team by joining the chat channel "Brave IT Team" in game.
                    </p>
                    
                    <hr>

                    <%include file="brave.core.character.template.authAttempts" args="attempts=web.user.attempts"/>

                </div>
            </div>
        
            <!-- side address column -->
            <div class="span3 pull-right">
                <h4>Authorized Applications</h4>
                <ul>
                    % for grant in web.user.grants:
                    <li><a target="_blank" href="${grant.application.site | app_url,h}" title="${grant.application.description | h}">${grant.application.name | h}</a></li>
                    % endfor
                </ul>
                
                <hr>
                
                <h4>Group Membership</h4>
                <ul>
                    % for id, group in web.user.primary.tags.iteritems():
                    <li>${group.title | h}</li>
                    % endfor
                </ul>
            </div>
        </div>

    % endif
    </div>
</div>
