## encoding: utf-8
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><strong>Brave Collective</strong> <small>Core Services</small></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li${' class="active"' if context.get('area', 'overview') == 'overview' else ''}><a href="/">Home</a></li>
                % if web.user:
                <li${' class="active"' if context.get('area', 'overview') == 'apps' else ''}><a href="/p/">Applications</a></li>
                <li${' class="active"' if context.get('area', 'overview') == 'keys' else ''}><a href="/p/">API Keys</a></li>
                <li${' class="active"' if context.get('area', 'overview') == 'chars' else ''}><a href="/p/">Characters</a></li>
                <li${' class="active"' if context.get('area', 'overview') == 'group' else ''}><a href="/p/">Groups</a></li>
                % endif
            </ul>
        
            % if web.user:
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> ${web.user.username} <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><i class="fa fa-fw fa-cog"></i> <a href="#">Preferences…</a></li>
                        <li><i class="fa fa-fw fa-sign-out"></i> <a href="/goodbye">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
            % else:
            <form class="navbar-form navbar-right hidden-sm hidden-xs">
                <div class="form-group">
                    <label for="banner-username" class="sr-only">User name:</label>
                    <input id="banner-username" type="text" class="form-control" placeholder="User Name / OTP" style="width: 150px;">
                </div>
                <div class="form-group">
                    <label for="banner-password" class="sr-only">Password:</label>
                    <input id="banner-password" type="password" class="form-control" placeholder="Password"  style="width: 150px;">
                </div>
                <button type="submit" class="btn btn-default"><i class="fa fa-lg fa-sign-in"></i> Sign In</button>
            </form>
            % endif
        </div>
    </div>
</div>